<a href="https://colab.research.google.com/github/radhakrishnan-omotec/chatgpt-marketing/blob/main/AI_based_Analysis_Research_Project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **AI Revolutionizes Modern Marketing Strategies**

# Abstract:

- The research project delves into the transformative impact of Artificial Intelligence (AI) tools, with a specific focus on large language models such as chatGPT, on contemporary marketing tactics.
- As AI becomes increasingly prevalent, businesses are leveraging its capabilities to enhance customer engagement, personalize content, and optimize advertising campaigns.
-  By analyzing the opportunities and challenges AI brings, this research sheds light on the evolving landscape of marketing and the need for skill adaptation to thrive in this AI-driven era.

**Importing from Github the CSV Files:**

In [1]:
!git clone https://github.com/deaajmera/test-repo.git

Cloning into 'test-repo'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 12 (delta 4), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (12/12), 24.34 KiB | 1.35 MiB/s, done.
Resolving deltas: 100% (4/4), done.

#**STEP 1 : Reading the Dataset:**

Importing the Libraries:

In [2]:
import pandas as pd

In [3]:
input_df = pd.read_csv("/content/test-repo/Test Responses 3.csv")
input_df.head()

,Sno,Name,Age,Title,Q1,Q2,Q3,Q4,Q5,Q6,...,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20
0,1,Dhaval Shah,40-50,Director,"Yes, I'm full aware of what AI is.","Yes, I'm very familiar with AI tools like Chat...","No, we currently do not utilize any AI tools f...",The use of AI tools has significantly improved...,"Yes, language models will revolutionize market...",The use of AI tools might lead to a reduced ne...,...,AI-powered content generation tools can assist...,AI can provide marketers with real-time market...,"AI algorithms heavily rely on historical data,...",Building a data-driven culture within the mark...,Strong understanding of AI technology and its ...,AI is utilized to analyze vast amounts of soci...,AI algorithms are employed to analyse user sea...,NaN,NaN,NaN
1,2,Medha Banerjee,17-28,Student,"I have knowledge about AI, but only to some ex...",I have some experience with AI tools like Chat...,We have experimented with AI tools for marketi...,The use of AI tools has significantly improved...,"Yes, language models will significantly impact...",AI tools like ChatGPT will streamline repetiti...,...,By utilizing AI tools for image and video anal...,AI can optimize marketing campaigns by automat...,AI-powered marketing may lack the human touch ...,Marketers can invest in continuous learning an...,"Creativity remains a vital skill, as marketers...",AI-powered chatbots and virtual assistants are...,AI-powered ad copy generation is used to creat...,Atracts allows marketing teams to quickly anal...,Netflix uses AI to give personalized recommend...,AI Facial Recognition process.
2,3,Sargam,> 50,Consultant,"I have knowledge about AI, but only to some ex...",I have some experience with AI tools like Chat...,"No, we currently do not utilize any AI tools f...",The use of AI tools has significantly improved...,"Certainly, language models will transform data...",The use of AI tools might lead to a reduced ne...,...,AI-driven sentiment analysis can gauge audienc...,AI can provide marketers with real-time market...,AI-powered marketing may lack the human touch ...,Building a data-driven culture within the mark...,"Creativity remains a vital skill, as marketers...",AI algorithms are used to optimize social medi...,AI is utilized to optimize keyword bidding in ...,Not 💯 sure,No idea,Not sure
3,4,Mahek Nayak,17-28,Student,"Yes, I'm full aware of what AI is.","Yes, I'm very familiar with AI tools like Chat...",We have experimented with AI tools for marketi...,"AI tools, particularly large language models, ...","Yes, language models will revolutionize market...",AI tools like ChatGPT will augment the capabil...,...,AI-powered content generation tools can assist...,"By leveraging AI-driven predictive analytics, ...",AI-powered marketing may lack the human touch ...,Marketers can invest in continuous learning an...,Proficiency in data analysis and interpretatio...,AI-powered chatbots and virtual assistants are...,AI is utilized to optimize keyword bidding in ...,Lead Scoring and Qualification: \nAI algorithm...,The Recommended for You section on the Netflix...,Not really heard of any specific ones..
4,5,Manya Shah,17-28,Student,"Yes, I'm full aware of what AI is.","Yes, I'm very familiar with AI tools like Chat...","No, we currently do not utilize any AI tools f...",The use of AI tools has significantly improved...,"Yes, language models will significantly impact...",AI tools like ChatGPT will streamline repetiti...,...,AI-powered content generation tools can assist...,AI can provide marketers with real-time market...,AI-powered marketing may lack the human touch ...,Building a data-driven culture within the mark...,Strong understanding of AI technology and its ...,AI is utilized to analyze vast amounts of soci...,AI algorithms are employed to analyse user sea...,NaN,NaN,NaN

In [4]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 24 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sno     77 non-null     int64
 1   Name    77 non-null     object
 2   Age     77 non-null     object
 3   Title   77 non-null     object
 4   Q1      77 non-null     object
 5   Q2      77 non-null     object
 6   Q3      77 non-null     object
 7   Q4      77 non-null     object
 8   Q5      77 non-null     object
 9   Q6      77 non-null     object
 10  Q7      77 non-null     object
 11  Q8      77 non-null     object
 12  Q9      77 non-null     object
 13  Q10     77 non-null     object
 14  Q11     77 non-null     object
 15  Q12     77 non-null     object
 16  Q13     77 non-null     object
 17  Q14     77 non-null     object
 18  Q15     77 non-null     object
 19  Q16     77 non-null     object
 20  Q17     77 non-null     object
 21  Q18     38 non-null     object
 22  Q19     30 non-null     object
 23  Q20     29 non-null     object
dtypes: int64(1), object(23)
memory usage: 14.6+ KB

#**STEP 2 : Preprocessing Dataset:**

Encoding the Input dataset

In [5]:
from sklearn.preprocessing import LabelEncoder
le_Age = LabelEncoder()
le_Title = LabelEncoder()
le_Q1 = LabelEncoder()
le_Q2 = LabelEncoder()
le_Q3 = LabelEncoder()
le_Q4 = LabelEncoder()
le_Q5 = LabelEncoder()
le_Q6 = LabelEncoder()
le_Q7 = LabelEncoder()
le_Q8 = LabelEncoder()
le_Q9 = LabelEncoder()
le_Q10 = LabelEncoder()
le_Q11 = LabelEncoder()
le_Q12 = LabelEncoder()
le_Q13 = LabelEncoder()
le_Q14 = LabelEncoder()
le_Q15 = LabelEncoder()
le_Q16 = LabelEncoder()
le_Q17 = LabelEncoder()
le_Q18 = LabelEncoder()

In [6]:
#input_df['Age_new'] = le_Age.fit_transform(input_df['Age'])
input_df['Title_new'] = le_Title.fit_transform(input_df['Title'])
input_df['Q1_new'] = le_Q1.fit_transform(input_df['Q1'])
input_df['Q2_new'] = le_Q2.fit_transform(input_df['Q2'])
input_df['Q3_new'] = le_Q3.fit_transform(input_df['Q3'])
input_df['Q4_new'] = le_Q4.fit_transform(input_df['Q4'])
input_df['Q5_new'] = le_Q5.fit_transform(input_df['Q5'])
input_df['Q6_new'] = le_Q6.fit_transform(input_df['Q6'])
input_df['Q7_new'] = le_Q7.fit_transform(input_df['Q7'])
input_df['Q8_new'] = le_Q8.fit_transform(input_df['Q8'])
input_df['Q9_new'] = le_Q9.fit_transform(input_df['Q9'])
input_df['Q10_new'] = le_Q10.fit_transform(input_df['Q10'])
input_df['Q11_new'] = le_Q11.fit_transform(input_df['Q11'])
input_df['Q12_new'] = le_Q12.fit_transform(input_df['Q12'])
input_df['Q13_new'] = le_Q13.fit_transform(input_df['Q13'])
input_df['Q14_new'] = le_Q14.fit_transform(input_df['Q14'])
input_df['Q15_new'] = le_Q15.fit_transform(input_df['Q15'])
input_df['Q16_new'] = le_Q16.fit_transform(input_df['Q16'])
input_df['Q17_new'] = le_Q17.fit_transform(input_df['Q17'])
input_df['Q18_new'] = le_Q18.fit_transform(input_df['Q18'])

In [14]:
# Define the age ranges and labels
age_ranges = ["17-28", "28-39", "40-50", "> 50",]
age_labels = [0, 1, 2, 3]

# Map age_range values to age_labels
age_mapping = dict(zip(age_ranges, age_labels))
print(age_mapping)
print()
print(input_df["Age "])
input_df['Age_New'] = input_df['Age '].map(age_mapping)

# Display the DataFrame with age labels
print(input_df['Age_New'])

{'17-28': 0, '28-39': 1, '40-50': 2, '> 50': 3}

0     40-50
1     17-28
2      > 50
3     17-28
4     17-28
      ...
72    17-28
73    17-28
74    17-28
75    17-28
76    17-28
Name: Age , Length: 77, dtype: object
0     2
1     0
2     3
3     0
4     0
     ..
72    0
73    0
74    0
75    0
76    0
Name: Age_New, Length: 77, dtype: int64

In [15]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 44 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sno        77 non-null     int64
 1   Name       77 non-null     object
 2   Age        77 non-null     object
 3   Title      77 non-null     object
 4   Q1         77 non-null     object
 5   Q2         77 non-null     object
 6   Q3         77 non-null     object
 7   Q4         77 non-null     object
 8   Q5         77 non-null     object
 9   Q6         77 non-null     object
 10  Q7         77 non-null     object
 11  Q8         77 non-null     object
 12  Q9         77 non-null     object
 13  Q10        77 non-null     object
 14  Q11        77 non-null     object
 15  Q12        77 non-null     object
 16  Q13        77 non-null     object
 17  Q14        77 non-null     object
 18  Q15        77 non-null     object
 19  Q16        77 non-null     object
 20  Q17        77 non-null     object
 21  Q18        38 non-null     object
 22  Q19        30 non-null     object
 23  Q20        29 non-null     object
 24  Title_new  77 non-null     int64
 25  Q1_new     77 non-null     int64
 26  Q2_new     77 non-null     int64
 27  Q3_new     77 non-null     int64
 28  Q4_new     77 non-null     int64
 29  Q5_new     77 non-null     int64
 30  Q6_new     77 non-null     int64
 31  Q7_new     77 non-null     int64
 32  Q8_new     77 non-null     int64
 33  Q9_new     77 non-null     int64
 34  Q10_new    77 non-null     int64
 35  Q11_new    77 non-null     int64
 36  Q12_new    77 non-null     int64
 37  Q13_new    77 non-null     int64
 38  Q14_new    77 non-null     int64
 39  Q15_new    77 non-null     int64
 40  Q16_new    77 non-null     int64
 41  Q17_new    77 non-null     int64
 42  Q18_new    77 non-null     int64
 43  Age_New    77 non-null     int64
dtypes: int64(21), object(23)
memory usage: 26.6+ KB

In [16]:
input_df

,Sno,Name,Age,Title,Q1,Q2,Q3,Q4,Q5,Q6,...,Q10_new,Q11_new,Q12_new,Q13_new,Q14_new,Q15_new,Q16_new,Q17_new,Q18_new,Age_New
0,1,Dhaval Shah,40-50,Director,"Yes, I'm full aware of what AI is.","Yes, I'm very familiar with AI tools like Chat...","No, we currently do not utilize any AI tools f...",The use of AI tools has significantly improved...,"Yes, language models will revolutionize market...",The use of AI tools might lead to a reduced ne...,...,3,6,9,4,3,26,2,0,38,2
1,2,Medha Banerjee,17-28,Student,"I have knowledge about AI, but only to some ex...",I have some experience with AI tools like Chat...,We have experimented with AI tools for marketi...,The use of AI tools has significantly improved...,"Yes, language models will significantly impact...",AI tools like ChatGPT will streamline repetiti...,...,1,12,0,9,7,4,9,12,7,0
2,3,Sargam,> 50,Consultant,"I have knowledge about AI, but only to some ex...",I have some experience with AI tools like Chat...,"No, we currently do not utilize any AI tools f...",The use of AI tools has significantly improved...,"Certainly, language models will transform data...",The use of AI tools might lead to a reduced ne...,...,2,4,2,8,0,4,0,4,27,3
3,4,Mahek Nayak,17-28,Student,"Yes, I'm full aware of what AI is.","Yes, I'm very familiar with AI tools like Chat...",We have experimented with AI tools for marketi...,"AI tools, particularly large language models, ...","Yes, language models will revolutionize market...",AI tools like ChatGPT will augment the capabil...,...,1,10,14,9,13,15,9,5,24,0
4,5,Manya Shah,17-28,Student,"Yes, I'm full aware of what AI is.","Yes, I'm very familiar with AI tools like Chat...","No, we currently do not utilize any AI tools f...",The use of AI tools has significantly improved...,"Yes, language models will significantly impact...",AI tools like ChatGPT will streamline repetiti...,...,2,8,2,14,1,27,4,2,38,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,73,Jia,17-28,Student,"Yes, I'm full aware of what AI is.",I have some experience with AI tools like Chat...,We have experimented with AI tools for marketi...,Large language models have enhanced data analy...,"Yes, language models will revolutionize market...",The use of AI tools might lead to a reduced ne...,...,1,0,2,8,7,9,1,4,38,0
73,74,Ananya Nagarkar,17-28,Student,"Yes, I'm full aware of what AI is.",I have some experience with AI tools like Chat...,"Yes, we extensively use AI tools for marketing...","AI tools, particularly large language models, ...","Yes, language models will revolutionize market...",The use of AI tools might lead to a reduced ne...,...,0,12,10,7,6,0,1,0,8,0
74,75,Lekh Parekh,17-28,Student,"Yes, I'm full aware of what AI is.","Yes, I'm very familiar with AI tools like Chat...",I'm not sure about the specific tools my compa...,The use of AI tools has significantly improved...,"Certainly, language models will transform data...",The use of AI tools might lead to a reduced ne...,...,3,9,12,12,12,7,10,10,38,0
75,76,Khushi shah,17-28,Research and strategy executive,"I have knowledge about AI, but only to some ex...",I have some experience with AI tools like Chat...,We have experimented with AI tools for marketi...,"AI tools, particularly large language models, ...","Yes, language models will significantly impact...",AI tools like ChatGPT will streamline repetiti...,...,0,0,13,10,9,21,5,1,38,0
76,77,Adah Arora,17-28,Student/Intern,"Yes, I'm full aware of what AI is.",I have some experience with AI tools like Chat...,"Yes, we extensively use AI tools for marketing...","AI tools, particularly large language models, ...","Yes, language models will significantly impact...",AI tools like ChatGPT will streamline repetiti...,...,3,9,8,13,10,23,6,8,38,0

In [17]:
# TRY THIS OPTION

# dropping unwanted columns

new_input_df = input_df.drop(['Age ','Title','Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10','Q11','Q12','Q13','Q14','Q15','Q16','Q17','Q18','Q19','Q20'],1)

<ipython-input-17-1a1d5c9d0d3d>:5: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  new_input_df = input_df.drop(['Age ','Title','Q1','Q2','Q3','Q4','Q5','Q6','Q7','Q8','Q9','Q10','Q11','Q12','Q13','Q14','Q15','Q16','Q17','Q18','Q19','Q20'],1)

In [18]:
new_input_df.head()

,Sno,Name,Title_new,Q1_new,Q2_new,Q3_new,Q4_new,Q5_new,Q6_new,Q7_new,...,Q10_new,Q11_new,Q12_new,Q13_new,Q14_new,Q15_new,Q16_new,Q17_new,Q18_new,Age_New
0,1,Dhaval Shah,15,1,3,1,19,6,10,0,...,3,6,9,4,3,26,2,0,38,2
1,2,Medha Banerjee,39,0,0,2,23,17,1,0,...,1,12,0,9,7,4,9,12,7,0
2,3,Sargam,11,0,0,1,22,3,10,10,...,2,4,2,8,0,4,0,4,27,3
3,4,Mahek Nayak,38,1,3,2,3,6,0,13,...,1,10,14,9,13,15,9,5,24,0
4,5,Manya Shah,39,1,3,1,19,13,1,5,...,2,8,2,14,1,27,4,2,38,0

<hr>

**Age Range:**
- 17 -28  ( Range 1)
- 28 - 39 ( Range 2)
- 40 - 50 ( Range 3)
- .>50    ( Range 4)

In this modified code, we first read the CSV file into a DataFrame using pd.read_csv().

We then define the age ranges as ['0-28', '29-50', '>50'] and the corresponding labels as [0, 1, 2].

Next, we create a dictionary age_mapping that maps the age ranges to the corresponding labels. The zip function is used to pair the age_ranges list with age_labels, and then the dict() constructor is used to create the mapping dictionary.

We use the map() function to apply the age_mapping to the 'age_range' column, which will convert the age ranges into the corresponding age labels.

The result will be a new column 'Age Label' in the DataFrame, containing the numerical age labels (0, 1, 2) for each age range based on the mapping.

In [12]:
#############################################
# SAMPLE CODE TO ENCODE AGE RANGES TO NUMBERS
#############################################
import pandas as pd

# Read the CSV file into a DataFrame
df = pd.read_csv('/content/test-repo/Test Responses 3.csv')

# Define the age ranges and labels
age_ranges = ["17-28", "28-39", "40-50", "> 50",]
age_labels = [0, 1, 2, 3]

# Map age_range values to age_labels
age_mapping = dict(zip(age_ranges, age_labels))
print(age_mapping)
print()
print(df["Age "])
df['Age_New'] = df['Age '].map(age_mapping)

# Display the DataFrame with age labels
print(df['Age_New'])

{'17-28': 0, '28-39': 1, '40-50': 2, '> 50': 3}

0     40-50
1     17-28
2      > 50
3     17-28
4     17-28
      ...
72    17-28
73    17-28
74    17-28
75    17-28
76    17-28
Name: Age , Length: 77, dtype: object
0     2
1     0
2     3
3     0
4     0
     ..
72    0
73    0
74    0
75    0
76    0
Name: Age_New, Length: 77, dtype: int64

<hr>